* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:#222731 ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 400px;
    background:  #323a49;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 6px;
    font-family: system-ui;
    border: 3px solid #505775;
    align-self: center;
  }
  
  .createaccount {
    font-size: 28px;
    margin-bottom: 20px;
    color:#919dc4
  }

  .names {
    text-align: left;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color:#99a5ca
  }
  
  
input {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 2px;
    border: 1px solid #164dc5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
    z-index: 1;
  }
  
img{
  position: absolute;
  align-self: flex-end;
  transform: translateX(-180%) translateY(55%);
   }

  
button {
    width: 100%;
    background: #655dfa;
    border: none;
    padding: 12px;
    color: white ;
    margin: 16px 0;
    font-size: 12px;
    font-weight: bold;
}

p{
  color:red;
  font-size: 12px;
}